/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes focus {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes transparency {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.6;
  }
}

@keyframes shadow {
  from {
    box-shadow: 0px 0px 0 var(--shadow-color);
  }

  to {
    box-shadow: 2px 2px 0 var(--shadow-color);
  }
}

@keyframes increase {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes spark {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0;
  }
}

.like-icon:hover .core {
  fill: var(--hover-heart-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--hover-heart-color);
  transition: fill 0.3s linear 0.04s;
  animation: like 1s;
}

.like-icon:active .core {
  fill: var(--active--heart-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--active--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour:active {
  fill: var(--active--heart-color);
  transition: fill 0.3s;
}

.like-icon.is-liked:active {
  fill: var(--active--heart-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--active--heart-color);
  transition: fill 0.3s linear 0.02s;
}

.like-icon.is-liked .core {
  fill: var(--active--heart-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--active--heart-color);
  transition: fill 0.3s linear 0.04s;
}

.like-icon.is-liked .sparks {
  transition: fill 0.3s linear 0.5s;
  animation: spark 0.3s linear 0.5s;
}

.heart,
.is-liked {
  animation: increase 0.1s ease-in-out 0.3s;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color);
  transition: 0.3s ease;
}

.icon-svg {
  align-items: center;
  display: flex;
}

.core {
  fill: none;
}

.main-body {
  fill: none;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--heart-contour-color);
}
